@using SLK.Web.Helpers
@model SLK.Web.Models.PaginationProductList

@{
    ViewBag.Title = "Index";
    var total = Model.PageInfo.TotalItems;
    var first = (Model.PageInfo.PageNumber - 1) * Model.PageInfo.PageSize + 1;
    var last = Math.Min(Model.PageInfo.PageNumber * Model.PageInfo.PageSize, total);
}

@*<div class="row">
    <h2>Products</h2>
</div>*@

@*<p>
    @Html.ActionLink("Create New", "New")
</p>*@

@*<script type="text/javascript">
    function upload()
    {
        @Html.Action("Upload","Product",)
    }
</script>

<div>
    <input type="file" onclick="upload()">
</div>*@


@*<table id="productsDataTable" class="table">
    <thead>
        <tr>           
            <th>
                @Html.DisplayNameFor(model => model.Products.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.First().CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.First().ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.First().FullDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.First().SKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.First().ProductManufacturerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.First().HasImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Short Desc</th>
            <th>Full Desc</th>
            <th>SKU</th>
            <th>Manufacturer</th>
            <th>Has Image</th>
        </tr>
    </tfoot>
    <tbody>*@
        @*@foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SKU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductManufacturerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasImage)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }*@
    @*</tbody>
</table>*@    
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">Products</span>
                </div>                
            </div>
            <div class="portlet-body">                
                    <table class="table table-striped table-bordered table-hover dataTable dtr-inline collapsed" id="productsDataTable" role="grid" aria-describedby="sample_1_info" style="width: 100%;">
                        <thead>
                            <tr role="row" class="heading">
                                <th>
                                    @Html.DisplayNameFor(model => model.Products.First().Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Products.First().CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Products.First().ShortDescription)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Products.First().FullDescription)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Products.First().SKU)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Products.First().ProductManufacturerName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Products.First().HasImage)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr id="productsDataTableFilters">
                                <th>Name</th>
                                <th>Category</th>
                                <th>Short Desc</th>
                                <th>Full Desc</th>
                                <th>SKU</th>
                                <th>Manufacturer</th>
                                <th>Has Image</th>
                            </tr>
                        </tfoot>
                        <tbody></tbody>
                    </table>               
            </div>               
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
        