@using SLK.Web.Helpers
@model SLK.Web.Models.ListModel
    
<div class="portlet-body">
    <div class="table-container">
        <table class="table table-striped table-bordered table-hover dataTable" id="datatable_ajax">
            <thead>
                <tr role="row">
                    @foreach (var prop in ViewData.ModelMetadata.Properties
                        .Where(p => p.ShowForEdit))
                    {
                        if (prop.TemplateHint != "HiddenInput")
                        {
                            <th class="sorting">
                                @prop.DisplayName
                            </th>
                        }
                    }

                    @*<th width="14%" class="sorting">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th width="14%">
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </th>
                    <th width="14%">
                        @Html.DisplayNameFor(model => model.ShortDescription)
                    </th>
                    <th width="15%">
                        @Html.DisplayNameFor(model => model.FullDescription)
                    </th>
                    <th width="14%">
                        @Html.DisplayNameFor(model => model.SKU)
                    </th>
                    <th width="14%">
                        @Html.DisplayNameFor(model => model.ProductManufacturerName)
                    </th>
                    <th width="5%">
                        @Html.DisplayNameFor(model => model.HasImage)
                    </th>*@
                    <th width="10%" class="sorting_disabled"></th>
                </tr>
                <tr role="row" class="filter">
                    @foreach (var prop in ViewData.ModelMetadata.Properties
                        .Where(p => p.ShowForEdit))
                    {
                        if (prop.TemplateHint != "HiddenInput")
                        {
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="@prop.PropertyName">
                            </td>
                        }
                    }

                    @*<td>
                        <input type="text" class="form-control form-filter input-sm" name="Name">
                    </td>
                    <td>
                        <input type="text" class="form-control form-filter input-sm" name="Category">
                    </td>
                    <td>
                        <input type="text" class="form-control form-filter input-sm" name="ShortDescription">
                    </td>
                    <td>
                        <input type="text" class="form-control form-filter input-sm" name="FullDescription">
                    </td>
                    <td>
                        <input type="text" class="form-control form-filter input-sm" name="SKU">
                    </td>
                    <td>
                        <input type="text" class="form-control form-filter input-sm" name="Manufacturer">
                    </td>
                    <td></td>*@
                    <td></td>
                </tr>
            </thead>
            <tbody> </tbody>
        </table>
    </div>
</div>


<script>
    //(function () {
    //    'use strict';

        var TableDatatablesAjax = function () {
            var e = function () {
                var a = new Datatable;

                a.init({
                    src: $("#datatable_ajax"),
                    onSuccess: function (a, e) { },
                    onError: function (a) { },
                    onDataLoad: function (a) { },
                    loadingMessage: "Loading...",
                    dataTable: {
                        deferRender: true,
                        bFilter: true,
                        bStateSave: !0,
                        //fnStateSaveParams: function (a, e) {
                        //    return $("#datatable_ajax tr.filter .form-control").each(function () {
                        //        e[$(this).attr("name")] = $(this).val()
                        //    }),
                        //    e
                        //},
                        //fnStateLoadParams: function (a, e) {
                        //    return $("#datatable_ajax tr.filter .form-control").each(function () {
                        //        var a = $(this);
                        //        e[a.attr("name")] && a.val(e[a.attr("name")])
                        //    }),
                        //    !0
                        //},
                        lengthMenu: [[10, 20, 50, 100, 150, -1], [10, 20, 50, 100, 150, "All"]],
                        pageLength: 10,
                        ajax: {
                            url: "/Product/List"
                        },
                        columns: [
                             @*@foreach (var prop in ViewData.ModelMetadata.Properties
                                .Where(p => p.ShowForEdit))
                             {
                                 if (prop.TemplateHint != "HiddenInput")
                                 {
                                     <text>
                                     { data: @prop.PropertyName, bSortable: true },
                                     </text>
                                }
                             }*@
                              {
                                  data: 'Name',
                                  bSortable: true,
                                  //render: function (data) {
                                  //    return $.localize(data, "~/Scrips/app/index.js");
                                  //}
                              },
                              { data: 'CategoryName' },
                              { data: 'ShortDescription' },
                              { data: 'FullDescription' },
                              { data: 'SKU' },
                              { data: 'ProductManufacturerName' },
                              { data: 'HasImage', className: 'dt-center' },
                              {
                                  data: 'EditDelete',
                                  bSortable: false,
                                  render: function (data, type, row) {
                                      return '<a class="btn btn-sm btn-outline grey-salsa" href=/Product/Edit/' + row['ID'] + '><i class="glyphicon glyphicon-edit"></i> Edit</a><a class="btn btn-sm btn-outline red-mint" href=/Product/Delete/' + row['ID'] + '><i class="fa fa-close"></i> Delete</a>';
                                  }
                              }
                        ],
                        order: [[0, "asc"]]
                    }
                });


                $('input.form-filter').on('keyup', function () {
                    a.setAjaxParam(this.name, this.value);
                    a.getDataTable().ajax.reload();
                })
            };


            return {
                init: function () {
                    e()
                }
            }
        }();
        jQuery(document).ready(function () {
            TableDatatablesAjax.init();

        });



    //})();
</script>
